:root {
  --regular: "regular", sans-serif;
  --medium: "medium", sans-serif;
  --bg: #f6f6f6;
  --color: #118a6e;
  --hover: #10755e;
  --white: #ffffff;
  --black: #000000;
  --invalid: #ff0000;
}

@font-face {
  font-family: "regular";
  src: url("../fonts/graphiklcg-regular.woff2") format("woff2"), url("../fonts/graphiklcg-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "medium";
  src: url("../fonts/graphiklcg-medium.woff2") format("woff2"), url("../fonts/graphiklcg-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--black);
  font-size: 16px;
  line-height: 1.12;
  font-family: var(--regular);
  overflow-x: hidden;
  overflow-y: auto;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}
button:disabled {
  cursor: auto;
  pointer-events: none;
  opacity: 0.3;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  fill: currentColor;
}

.color {
  color: var(--color);
}

.show_inMobil {
  display: none;
}

@media (min-width: 1400px) {
  [data-error] {
    max-width: 370px;
  }
}
@media (min-width: 1280px) and (max-width: 1399px) {
  [data-error] {
    max-width: 420px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  [data-error] {
    max-width: 380px;
  }
}
@media (max-width: 1023px) {
  [data-error] {
    max-width: 280px;
  }
}

@media (max-width: 1023px) {
  .del_inTablet {
    display: none;
  }
}
@media (max-width: 767px) {
  .del_inMobil {
    display: none;
  }
  .show_inMobil {
    display: block;
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: var(--medium);
  background: var(--color);
  color: var(--white);
  transition: background 0.3s, opacity 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button.social {
  padding: 0px;
}
.button:hover {
  background: var(--hover);
}
.button.loading {
  pointer-events: none;
  color: rgba(0, 0, 0, 0);
}
.button.loading:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border-left: 2px solid var(--white);
  border-top: 2px solid var(--white);
  border-right: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  -webkit-animation: rotate 0.3s linear infinite;
          animation: rotate 0.3s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 1400px) {
  .button {
    font-size: 20px;
    min-width: 240px;
    padding: 10px 20px;
    min-height: 56px;
  }
  .button.mini {
    min-width: 148px;
    min-height: 42px;
    font-size: 12px;
  }
  .button.social {
    height: 42px;
    width: 42px;
    min-height: 42px;
    min-width: 42px;
  }
  .button.social svg {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 1399px) {
  .button {
    font-size: 16px;
    min-width: 212px;
    padding: 10px 20px;
    min-height: 50px;
  }
  .button.mini {
    min-width: 120px;
    min-height: 38px;
    font-size: 11px;
  }
  .button.social {
    height: 38px;
    width: 38px;
    min-height: 38px;
    min-width: 38px;
  }
  .button.social svg {
    width: 20px;
    height: 20px;
  }
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 20px;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 14px 20px;
  background: var(--white);
  z-index: 10;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 160px;
}

.navigation {
  display: flex;
  align-items: center;
  align-content: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
}

.link {
  font-size: 14px;
  font-family: var(--medium);
  transition: 0.3s;
}
.link:hover {
  color: var(--color);
}

.burger {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: none;
}
.burger:before, .burger:after {
  content: "";
}
.burger:before, .burger:after,
.burger span {
  width: 100%;
  height: 2px;
  background: var(--black);
  position: absolute;
  transition: transform 0.3s, opacity 0.3s;
}
.burger span {
  font-size: 0px;
  transform: translate(0%, 0%);
  opacity: 1;
}
.burger:before {
  transform: rotate(0deg) translate(0px, -7px);
}
.burger:after {
  transform: rotate(0deg) translate(0px, 7px);
}
.burger.open:before {
  transform: rotate(45deg);
}
.burger.open:after {
  transform: rotate(-45deg);
}
.burger.open span {
  font-size: 0px;
  transform: translate(100%, 0%);
  opacity: 0;
}

@media (min-width: 560px) {
  .burger {
    display: none;
  }
}
@media (max-width: 559px) {
  .navigation {
    position: absolute;
    background: var(--white);
    border-top: 1px solid var(--bg);
    width: 100%;
    left: 0px;
    top: 100%;
    z-index: 0;
    padding: 20px;
    transition: 0.6s;
    transform: translate(100%, 0%);
  }
  .navigation.open {
    transform: translate(0%, 0%);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  }
  .menu {
    width: 100%;
    justify-content: flex-end;
    gap: 12px;
  }
  .menu li:first-child {
    margin-right: auto;
  }
}
@media (max-width: 359px) {
  .menu {
    gap: 10px;
  }
  .menu .link {
    font-size: 11px;
  }
  .menu .mini {
    padding: 10px 14px;
  }
}
.portfolio {
  display: block;
  width: 100%;
  max-width: 1140px;
  padding: 120px 20px;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 1279px) {
  .portfolio {
    max-width: 768px;
  }
}
.portfolio h1 {
  font-size: 34px;
  line-height: 1;
  font-family: var(--regular);
}

.portfolio__navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  margin: 48px auto;
}
@media (max-width: 1279px) {
  .portfolio__navigation {
    margin-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .portfolio__navigation {
    margin-bottom: 24px;
    margin-top: 32px;
  }
}
.portfolio__navigation li {
  flex: 1;
}
@media (max-width: 420px) {
  .portfolio__navigation li {
    flex: none;
    width: 100%;
  }
}

.portfolio__button {
  display: flex;
  position: relative;
  width: 100%;
  height: 52px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 16px;
  line-height: 1;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid var(--color);
  padding: 10px 20px;
  white-space: nowrap;
  color: var(--color);
  transition: border 0.3s, color 0.3s, background-color 0.3s;
}
.portfolio__button.portfolio__load-more.loading {
  font-size: 0px;
  background-color: var(--color);
}
.portfolio__button.portfolio__load-more:hover {
  color: #fff;
  background-color: var(--color);
  border: 2px solid var(--color);
}
.portfolio__button:hover {
  color: #fff;
  background-color: #84afa1;
  border: 2px solid #84afa1;
}
.portfolio__button.active {
  color: #fff;
  background-color: var(--color);
  border: 2px solid var(--color);
}
.portfolio__button.loading {
  color: rgba(0, 0, 0, 0);
}
.portfolio__button.loading:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  border-right: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  -webkit-animation: rotate 0.3s linear infinite;
          animation: rotate 0.3s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.portfolio__collection {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 28px;
  opacity: 0;
  transition: opacity 0.3s;
  margin-bottom: 28px;
}
.portfolio__collection.active {
  opacity: 1;
}
@media (max-width: 1279px) {
  .portfolio__collection {
    gap: 16px;
    margin-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .portfolio__collection {
    gap: 14px;
    margin-bottom: 14px;
  }
}
.portfolio__collection li {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  width: calc((100% - 56px) / 3);
  background: #eee;
}
@media (max-width: 1279px) {
  .portfolio__collection li {
    width: calc((100% - 32px) / 3);
  }
}
@media (max-width: 767px) {
  .portfolio__collection li {
    width: calc((100% - 14px) / 2);
  }
}
.portfolio__collection li:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 114%;
  z-index: 0;
}
@media (max-width: 1279px) {
  .portfolio__collection li:before {
    padding-top: 104%;
  }
}
@media (max-width: 767px) {
  .portfolio__collection li:before {
    padding-top: 101%;
  }
}
.portfolio__collection li:hover a {
  transform: scale(1.1);
}
.portfolio__collection li a {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  left: 0px;
  top: 0px;
  transform: scale(1);
  z-index: 1;
  cursor: zoom-in;
}
.portfolio__collection li a img {
  width: 100%;
  height: 100%;
}